@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Noto Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
